body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1464px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:64px;
  display:flex;
}
#u10395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1464px;
  height:796px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:1464px;
  height:796px;
  display:flex;
}
#u10396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10397 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:24px;
  width:56px;
  height:19px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10397 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10397_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  background:inherit;
  background-color:rgba(63, 63, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:860px;
  display:flex;
}
#u10398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.458823529411765);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u10399 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:166px;
  height:32px;
  display:flex;
  font-size:12px;
  color:#FFFFFF;
}
#u10399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10400_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.458823529411765);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u10400 {
  border-width:0px;
  position:absolute;
  left:1332px;
  top:16px;
  width:32px;
  height:32px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u10400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u10401 {
  border-width:0px;
  position:absolute;
  left:1281px;
  top:0px;
  width:53px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u10401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u10402 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:0px;
  width:51px;
  height:64px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u10402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:224px;
  height:42px;
  display:flex;
}
#u10404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:68px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u10405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10406 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:79px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u10407 {
  border-width:0px;
  position:absolute;
  left:1257px;
  top:25px;
  width:14px;
  height:14px;
  display:flex;
}
#u10407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:106px;
  width:224px;
  height:42px;
  display:flex;
}
#u10409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(16, 141, 233, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u10410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u10410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u10410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10411 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:121px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10411 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10411_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:224px;
  height:42px;
  display:flex;
}
#u10413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u10414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10415 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:159px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:224px;
  height:42px;
  display:flex;
}
#u10417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u10418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10419 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:201px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:224px;
  height:42px;
  display:flex;
}
#u10421 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10421_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:34px;
  background:inherit;
  background-color:rgba(45, 183, 245, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:232px;
  width:224px;
  height:34px;
  display:flex;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(255, 255, 255, 0.447058823529412);
  text-align:left;
}
#u10422 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 44px;
  box-sizing:border-box;
  width:100%;
}
#u10422_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10423 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:243px;
  width:12px;
  height:12px;
  display:flex;
  color:rgba(255, 255, 255, 0.447058823529412);
}
#u10423 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10423_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10424 {
  position:absolute;
  left:240px;
  top:82px;
}
#u10424_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1208px;
  height:732px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10424_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:732px;
  display:flex;
}
#u10425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10424_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10424_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10424_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u10424_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10426 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:96px;
  width:24px;
  height:24px;
}
#u10426_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10427 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:96px;
  width:24px;
  height:24px;
}
#u10427_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10427_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10428 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:804px;
  width:24px;
  height:24px;
}
#u10428_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10428_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10429 {
  border-width:0px;
  position:absolute;
  left:1424px;
  top:804px;
  width:24px;
  height:24px;
}
#u10429_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10429_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u10430 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:22px;
  width:211px;
  height:32px;
  display:flex;
  line-height:18px;
}
#u10430 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10430_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u10430.mouseOver {
}
#u10430_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u10431 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:22px;
  width:211px;
  height:32px;
  display:flex;
  line-height:18px;
}
#u10431 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10431_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:18px;
}
#u10431.mouseOver {
}
#u10431_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
