.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
._一级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
}
._文本框 {
  color:#000000;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._鼠标悬停文本链接 {
}
._鼠标按下文本链接 {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.paragraph {
  text-align:left;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.shape {
}
.connector {
}
.box_2 {
}
.image {
  color:#000000;
}
.button {
}
.vertical_line {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table {
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.heading_21 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.box_1 {
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.html_button {
  text-align:center;
}
.checkbox1 {
  text-align:left;
}
.box_3 {
}
._图片 {
  color:#000000;
}
.line {
}
._图片1 {
}
.ellipse {
}
.image1 {
}
.placeholder {
}
.text_field {
  color:#000000;
  text-align:left;
}
._流程形状 {
}
._连接符 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.table_cell {
}
.iconfont {
  font-family:'iconfont Normal', 'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
._文本链接 {
  color:#0000FF;
}
._鼠标悬停文本链接时 {
}
._鼠标按下文本链接时 {
}
._默认样式 {
}
.icon {
}
._多行文本框 {
  font-size:13px;
  color:#000000;
  text-align:left;
}
._垂直线 {
}
.primary_button {
  color:#FFFFFF;
}
._图片2 {
  color:#000000;
}
._文本框1 {
  color:#000000;
  text-align:left;
}
._形状1 {
}
.shape1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
.box_31 {
}
.html_button1 {
  text-align:center;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button1 {
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.button1 {
  color:#FFFFFF;
}
.icon1 {
}
._形状2 {
}
.image2 {
}
.form_disabled1 {
  color:#000000;
}
.flow_shape {
}
.table_cell1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
.shape2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.checkbox2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:10px;
  color:#000000;
  text-align:left;
}
.button_active {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:9px;
  color:#0000FF;
  text-align:center;
}
.shape3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:9px;
  color:#666666;
}
._图像 {
}
._文本段落1 {
  text-align:left;
}
._文本框2 {
  color:#000000;
  text-align:left;
}
textarea, select, input, button { outline: none; }
